@page "/"

<PageTitle>Home</PageTitle>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <img src="/Images/Logo.PNG" class="rounded-top" asp-append-version="true" alt="Picture" />
    <h1>Fitness Center</h1>
</div>