@page "/support"

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <img src="/Images/Logo.PNG" class="rounded-top" asp-append-version="true" alt="Picture" />
    <h3>If you want to get in contact, feel free to message us at <strong>customer.support@gmail.com</strong></h3>
</div>